<h2>User info</h2>
<table class="table">
	<tbody>
		<tr>
			<td><%= attachment_image_tag user, :profile_image,size:"80x95",fallback: "no_image.jpg" %></td>
			<td></td>
		</tr>
		<tr>
			<td>name</td>
			<td><%= user.name %></td>
		</tr>
		<tr>
			<td>introduction</td>
			<td><%= user.introduction %></td>
		</tr>
		<tr>
			<td>フォロー</td>
			<td><%= link_to user.followings.count, follows_user_path(user) %></td>
		</tr>
		<tr>
			<td>フォロワー</td>
			<td><%= link_to user.followers.count, followers_user_path(user) %></td>
		</tr>
	</tbody>
</table>

<% if current_user != user %>
	<%= link_to 'チャットする', chat_path(user), class: "btn btn-danger form-control" %>
<% end %>
<br>
<br>
<%= link_to edit_user_path(current_user.id) do %>
	<button type="button" class="btn btn-default btn-block" >
		<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
	</button>
<% end %>